{# list of icons #}
{# set icons = {'success':'checkmark','info':'info','warning':'spam','error':'blocked','danger':'blocked'} #}

<div class="notification is-{{ type }}" role="alert">
  <button class="delete"></button>
  {{ message|raw }}
</div>