{% extends 'admin/layout.html.twig' %}

{% block arianne %}
  {{ parent() }}
  <li><a href="{{ path('admin_media') }}">{{ env('MENU_IMG') }}</a></li>
{% endblock arianne %}

{% block title %}
  Médias
{% endblock %}

{% block content %}
  {{ parent() }}
{% endblock %}