{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'layout/error.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block content %}
    <h1><span class="icon glyphicon glyphicon-exclamation-sign "></span> 404 Page not found</h1>

    <p>
        The requested page does not exist. Checkout for any URL
        misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}