{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'layout/error.html.twig' %}

{% block title %}Error 403{% endblock %}


{% block content %}
    <h1><span class="icon glyphicon glyphicon-exclamation-sign "></span> 403 Access restricted</h1>

    <p>
        You do not have access to the requested page. Please contact administrators or <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}