{% extends 'layout/centered.html.twig' %}

{% block name %}error-page{% endblock %}

{% block body %}

  <div class="container">

    {% block content %}

    {% endblock content %}
  </div>

{% endblock %}