{% extends 'email/_base.html.twig' %}

{% block content %}
  {{ parent() }}
        <row class="header">
          <h1>Hello {{ user.username }},</h1>
        </row>
        <spacer size="30"></spacer>
        <row class="content">
            <columns>
                <p>
                    To reset your password, <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">please visit here</a>
                    This link will expire in {{ tokenLifetime|date('g') }} hour(s)..
                </p>
            </columns>
        </row>
{% endblock content %}