{% extends 'email/_base.html.twig' %}

{% block content %}
    {{ parent() }}
        <spacer size="30"></spacer>
        <row class="content">
            <columns>
                <p>
                    <strong>Relax !</strong> This is just a test :)
                </p>
            </columns>
        </row>
{% endblock content %}
